<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zkt.testtoll">

    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <activity
            android:name=".CrashDetailsActivity"
            android:theme="@style/ErrorDialogActivityTheme" />
        <activity android:name=".LogsListActivity" />
        <activity android:name=".SettingsActivity" />

        <service
            android:name=".floatview.TestToolFloatView"
            android:label="LogcatLoggerFloatingView" />
    </application>

</manifest>
